/*--------------------Rotate----------------------------*/
@keyframes rotate{
	from{
		transform:rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate{
	from{
		transform:rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

/*--------------------FadeIn----------------------------*/
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/*--------------------FadeOut----------------------------*/
@keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

/*--------------------zoomIn----------------------------*/

@keyframes zoomIn{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1.1);
	}
	75%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

@-webkit-keyframes zoomIn{
	0%{
		transform: scale(0);
	}
	50%{
		transform: scale(1.1);
	}
	75%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

/*--------------------zoomIn----------------------------*/
@keyframes zoomOut{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}

@-webkit-keyframes zoomOut{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	75%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}

/*--------------------SlideToLeft----------------------------*/
@keyframes slideToLeft{
	0%{
		transform: translateX(-100%);
	}
	75%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0);
	}
}

@-webkit-keyframes slideToLeft{
	0%{
		transform: translateX(-100%);
	}
	75%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0);
	}
}
 
/*--------------------SlideToRight----------------------------*/
@keyframes slideToRight{
	0%{
		transform: translateX(100%);
	}
	75%{
		transform: translateX(-10px);
	}
	100%{
		transform: translateX(0);
	}
}

@-webkit-keyframes slideToRight{
	0%{
		transform: translateX(100%);
	}
	75%{
		transform: translateX(-10px);
	}
	100%{
		transform: translateX(0);
	}
}
/*--------------------SlideToTop----------------------------*/
@keyframes slideToTop{
	0%{
		transform: translateY(100%);
	}
	75%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}

@-webkit-keyframes slideToTop{
	0%{
		transform: translateY(100%);
	}
	75%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}

/*--------------------SlideToBottom----------------------------*/
@keyframes slideToBottom{
	0%{
		transform: translateY(-100%);
	}
	75%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(0);
	}
}

@-webkit-keyframes slideToBottom{
	0%{
		transform: translateY(-100%);
	}
	75%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(0);
	}
}

/*--------------------FlipX----------------------------*/
@keyframes flipX{
	from{
		transform: rotateX(0deg);
		opacity: 0;
	}
	to{
		transform: rotateX(360deg);
		opacity: 1;
	}
}

@-webkit-keyframes flipX{
	from{
		transform: rotateX(0deg);
		opacity: 0;
	}
	to{
		transform: rotateX(360deg);
		opacity: 1;
	}
}

/*--------------------FlipY----------------------------*/
@keyframes flipY{
	from{
		transform: rotateY(0deg);
		opacity: 0;
	}
	to{
		transform: rotateY(360deg);
		opacity: 1;
	}
}

@-webkit-keyframes flipY{
	from{
		transform: rotateY(0deg);
		opacity: 0;
	}
	to{
		transform: rotateY(360deg);
		opacity: 1;
	}
}

/*--------------------rollIn----------------------------*/
@keyframes rollIn{
	0%{
		transform: rotate(-20deg) translate(-50%,-100%);
	}
	75%{
		transform: rotate(-5deg) translate(0,10px);
	}
    100%{
    	transform: rotate(0) translate(0);
    }

}

@-webkit-keyframes rollIn{
	0%{
		transform: rotate(-20deg) translate(-50%,-100%);
	}
	75%{
		transform: rotate(-5deg) translate(0,10px);
	}
    100%{
    	transform: rotate(0) translate(0);
    }
}

/*--------------------rollOut----------------------------*/
@keyframes rollOut{
	0%{
		transform: rotate(0) translate(0,10px);
	}
	50%{
		transform: rotate(-5deg) translate(0);
	}
    100%{
    	transform: rotate(-5deg) translate(100%,-50%);
    }

}

@-webkit-keyframes rollOut{
	0%{
		transform: rotate(0) translate(0,10px);
	}
	50%{
		transform: rotate(-5deg) translate(0);
	}
    100%{
    	transform: rotate(-5deg) translate(100%,-50%);
    }

}

/*--------------------SwapLeft----------------------------*/
@keyframes swapLeft{
	0%{
		transform: scale(0) translateX(0);
	}
	20%{
		transform: scale(.4) translateX(-50%);
	}  
	100%{
		transform: scale(1) translateX(0);
	} 
}

@-webkit-keyframes swapLeft{
	0%{
		transform: scale(0) translateX(0);
	}
	20%{
		transform: scale(.4) translateX(-50%);
	}  
	100%{
		transform: scale(1) translateX(0);
	} 
}
/*--------------------SwapRight----------------------------*/
@keyframes swapRight{
	0%{
		transform: scale(0) translateX(0);
	}
	20%{
		transform: scale(.2) translateX(50%);
	}  
	100%{
		transform: scale(1) translateX(0);
	} 
}

@-webkit-keyframes swapLeft{
	0%{
		transform: scale(0) translateX(0);
	}
	20%{
		transform: scale(.2) translateX(50%);
	}  
	100%{
		transform: scale(1) translateX(0);
	} 
}



/*--------------------Special Effect---------------------------*/
/*--------------------Brake----------------------------*/
@keyframes brake{
	0%{
		transform: translateX(-100%) skew(0deg);
	}  
	90%{
		transform: translateX(0) skew(-30deg);
	}
	100%{
		transform: translateX(0) skew(0deg);
	}
}

@-webkit-keyframes brake{
	0%{
		transform: translateX(-100%) skew(0deg);
	}  
	90%{
		transform: translateX(0) skew(-30deg);
	}
	100%{
		transform: translateX(0) skew(0deg);
	}
}
 
/*--------------------Swing----------------------------*/
@keyframes swing{
	0%{
		transform: rotate(30deg);
	}
	60%{
		transform: rotate(-30deg);
	} a
	100%{
		transform: rotate(0);
	} 
}

@-webkit-keyframes swing{
	0%{
		transform: rotate(30deg);
	}
	50%{
		transform: rotate(-30deg);
	} 
	100%{
		transform: rotate(0);
	} 
}

/*--------------------tada----------------------------*/
@keyframes tada{
	0%{
		transform: rotate(-30deg);
	}
	65%{
		transform: rotate(0deg);
	}
	70%{
		transform: rotate(10deg);
	}
	80%{
		transform: rotate(-10deg);
	}
	90%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

@-webkit-keyframes tada{
	0%{
		transform: rotate(-30deg);
	}
	65%{
		transform: rotate(0deg);
	}
	70%{
		transform: rotate(10deg);
	}
	80%{
		transform: rotate(-10deg);
	}
	90%{
		transform: rotate(10deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
/*--------------------rubber----------------------------*/
@keyframes rubber{
	0%{
		transform: scaleX(1);
	}
	70%{
		transform: scaleX(1.5);
	}
	80%{
		transform: scaleX(.9) scaleY(1.2);
	}
	90%{
		transform: scaleX(1.1) scaleY(1) ;
	}  
	100%{
		transform: scaleX(1) scaleY(1);
	}
}

@-webkit-keyframes rubber{
	0%{
		transform: scaleX(1);
	}
	70%{
		transform: scaleX(1.5);
	}
	80%{
		transform: scaleX(.9) scaleY(1.2);
	}
	90%{
		transform: scaleX(1.1) scaleY(1) ;
	}  
	100%{
		transform: scaleX(1) scaleY(1);
	}
}

/*--------------------jello----------------------------*/
@keyframes jello{
	0%{
		transform: skewX(30deg);
	}
	10%{
		transform: skewX(-30deg);
	}
	30%{
		transform: skewX(20deg);
	}
	50%{
		transform: skewX(-20deg);
	}
	70%{
		transform: skewX(10deg);
	}
	90%{
		transform: skewX(-10deg);
	}
	100%{
		transform: skewX(0);
	}
}

@-webkit-keyframes jello{
	0%{
		transform: skewX(30deg);
	}
	10%{
		transform: skewX(-30deg);
	}
	30%{
		transform: skewX(20deg);
	}
	50%{
		transform: skewX(-20deg);
	}
	70%{
		transform: skewX(10deg);
	}
	90%{
		transform: skewX(-10deg);
	}
	100%{
		transform: skewX(0);
	}
}

/*--------------------wobble----------------------------*/
@keyframes wobble{
    0%{
    	transform: rotate(10deg);
    } 
    25%{
    	transform: rotate(-10deg);
    }
    75%{
    	transform: rotate(10deg);
    }
    100%{
    	transform: rotate(0deg);
    }
}

@-webkit-keyframes wobble{
    0%{
    	transform: rotate(10deg);
    } 
    25%{
    	transform: rotate(-10deg);
    }
    75%{
    	transform: rotate(10deg);
    }
    100%{
    	transform: rotate(0deg);
    }
}

/*--------------------shake----------------------------*/
@keyframes shake{
	0%{
		transform: translateX(-10px);
	}
	25%{
		transform: translateX(10px);
	}
	50%{
		transform: translateX(-10px);
	}
	75%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
}

@-webkit-keyframes shake{
	0%{
		transform: translateX(-10px);
	}
	25%{
		transform: translateX(10px);
	}
	50%{
		transform: translateX(-10px);
	}
	75%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}

}

/*--------------------bounce----------------------------*/
@keyframes bounce{
	0%{
		transform: translate(-50%,-50%);
	}
	13%{
		transform: translate(-40%,-30%);
	}
	25%{
		transform: translate(-30%,0);
	}
	38%{
		transform: translate(-20%,-10%);
	}
	50%{
		transform: translate(-10%,-20%);
	}
	63%{
		transform: translate(-7%,-7%);
	}
	75%{
		transform: translate(-5%,0);
	}
	90%{
		transform: translate(-2%,-5%);
	}
	100%{
		transform: translate(0,0);
	}
}

@-webkit-keyframes bounce{
	0%{
		transform: translate(-50%,-50%);
	}
	13%{
		transform: translate(-40%,-30%);
	}
	25%{
		transform: translate(-30%,0);
	}
	38%{
		transform: translate(-20%,-10%);
	}
	50%{
		transform: translate(-10%,-20%);
	}
	63%{
		transform: translate(-7%,-7%);
	}
	75%{
		transform: translate(-5%,0);
	}
	90%{
		transform: translate(-2%,-5%);
	}
	100%{
		transform: translate(0,0);
	}
}
/*--------------------jello----------------------------*/
