<!DOCTYPE html>
<html>
<head>
	<title>Vue show page</title>
	<meta charset="utf-8">
</head>
<body>

 <script type="text/x-template" id="screen-template">
    	<div v-for="screen in screens" class="screen" id="screen"><!--style="background-image: url({{ screen.bgImg }})"-->  
    		 <word :screen="screen" ></word> 
    		 <picture :screen="screen"></picture>
    	</div>
    </script>

    <!--word template-->
    <script type="text/x-template" id="word-template">
    	<span 
    	v-for="content in screen"  
    	v-if="content.type == 1"
    	class="{{ content.Animation.Name }}" 
    	@mousedown="dragLocation(this)" 
    	style="animation-duration: {{ content.Animation.Speed }}; animation-delay: {{ content.Animation.Delay }}" > 
        	{{ content.content }}
        </span> 
    </script>

    <!--image template-->
    <script type="text/x-tempalte" id="image-template">
    	<img 
    	v-for="content in screen"
    	v-if="content.type == 2"
    	class="{{ content.Animation.Name }}"  
    	style="animation-duration: {{ content.Animation.Speed }}; animation-delay: {{ content.Animation.Delay }}"
    	src="{{ content.src }}">
    </script>
<!---->
</body>
</html>