<!DOCTYPE html>
<html>
<head>
	<title>Vue drag compoments demo</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="scripts/vue.js"></script> 
	<link rel="stylesheet" type="text/css" href="style/animation/animation.css">
	<link rel="stylesheet" type="text/css" href="style/animation/animation-keyframes.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<div id="content">

    <div id="selectScreen"> 
    	<div class="screenNum">
    		   	<p class="title">创建新屏</p> 
    		   	<button class="button go" @click="addScreen">Add</button> 
        </div>  

        <div class="editArea"> 
        		<ul class="edit" v-for="screen in screens" id="screen{{ $index }}">   
    	 	    <h6>第{{ $index }}屏</h6>

    	 	    <li>
    	 	    	Background:<input type="file"></input></p>
    	 			<p>
    	 		    	Or enter a img link:<input type="text"></input>
    	 			    <button class="button" @click="addImg(screen)">Upload Img</button>
    	 			</p>
    	 	    </li>
    	 	    <!--http://p4.music.126.net/5MSBV-uxRl65dgikDWibLQ==/7710875046296462.jpg-->

    	 		<li>
    	 			<select>
    	 				<option>rotate</option>
    	 				<option>flipX</option>
    	 				<option>zoomIn</option>
    	 				<option>rollIn</option>
    	 			</select> 
    	 			<button class="button light" @click="addWord(screen)">Add</button>
    	 		</li> 

    	 		<li>
    	 		    <p v-for="content in screen">
    	 		    
    	 		        <input v-model="content.content"></input>
    	 		        <span class="button delete" @click="removeWord(screen,content)">X</span>
    	 		    </p> 
    	 		</li>

    	 		<li>
    	 			<p>Upload a image:<input type="file"></input></p>
    	 			<p>
    	 			   Or enter a img link:<input type="text"></input>
    	 			   <button class="button">Upload Img</button>
    	 			</p>
    	 		</li> 
    	 		</br>

    	 		<button class="button go" @click="removeScreen(screen)">Remove</button>
    	 	    </ul>  
        </div> 
        <!--every screen's detail choice template--> 
    </div>
 
    <!--root start from here-->
    <div class="phone">
    	<div class="showPage">
    		<div v-for="screen in screens" class="screen" id={{$index}}>  
    		    <span 
    		       v-for="content in screen">
    		       {{ content.content }}
    		    </span> 
    		     
    		</div>
    	</div>
    </div>
<pre>{{screens | json}}</pre>
</div>
</body>
<script type="text/javascript" src="scripts/script.js"></script> 
<script type="text/javascript" src="scripts/vue-script.js"></script> 
<script type="text/javascript" src="scripts/component.js"></script>
</html>