<!DOCTYPE html>
<html>
<head>
	<title>Vue drag compoments demo</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="scripts/vue.js"></script> 
	<link rel="stylesheet" type="text/css" href="style/animation/animation.css">
	<link rel="stylesheet" type="text/css" href="style/animation/animation-keyframes.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<div id="content">

    <div id="selectScreen"> 
    	<div class="screenNum">
    		   	<p class="title">创建新屏</p> 
    		   	<button class="button go" v-on:click="addScreen">Add</button> 
        </div>  

        <div class="editArea"> 
        		<ul class="edit" v-for="screen in screens" >   
    	 	    <h6>第{{ $index }}屏</h6>
    	 		<li>
    	 			<select >
    	 				<option >rotate</option>
    	 				<option>filpX</option>
    	 				<option>zoomIn</option>
    	 				<option>rollIn</option>
    	 			</select> 
    	 			<button class="button light" v-on:click="addContent(screen)">Add</button>
    	 		</li>

    	 		<li>
    	 			<p>Message Edit:<input type="text" placeholder="edit here"> </input></p>
    	 		</li>

    	 		<li>
    	 			<p>Upload a image:<input type="file"></input></p>
    	 			<p>
    	 			   Or enter a img link:<input type="text" name="img-src"></input>
    	 			   <button class="button">Upload Img</button>
    	 			</p>
    	 		</li>

    	 		</br>
    	 		<button class="button go" v-on:click="removeScreen(screen)">Remove</button>
    	 	    </ul>  
        </div> 
        <!--every screen's detail choice template--> 
    </div>


    <!--root start from here-->
    <div class="phone">
    	<div class="showPage">
    		<div v-for="screen in screens" class="screen" id={{$index}}>  
    		    <p v-for="content in screen"  
    		       v-on:dblclick="removeContent(content)"> 
    		       haha
    		    </p>  
    		</div>
    	</div>
    </div>
<pre>{{screens | json}}</pre>
</div>
</body>
<script type="text/javascript" src="scripts/script.js"></script> 
<script type="text/javascript" src="scripts/vue-script.js"></script> 
</html>