<!DOCTYPE html>
<html>
<head>
	<title>Vue drag compoments demo</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="scripts/zepto.js"></script>
	<script type="text/javascript" src="scripts/vue.js"></script> 
	<link rel="stylesheet" type="text/css" href="style/animation/animation.css">
	<link rel="stylesheet" type="text/css" href="style/animation/animation-keyframes.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
<div id="box">

    <div id="selectScreen"> 
    	<div class="screenNum">
    		   	<p class="title">创建新屏</p> 
    		   	<button class="button go" @click="addScreen">Add</button> 
        </div>  

        <div class="editArea"> 
        		<ul class="edit" v-for="screen in screens" id="screen{{ $index }}">   
    	 	    <h6>第{{ $index }}屏</h6>

    	 	    <li>
    	 	    	Background:<input type="file"></input></p>
    	 			<p>
    	 		    	Or enter a img link:<input type="text" v-model="bgImg"></input>
    	 			    <button class="button" @click="addScreenBgImg(screen)">Upload Img</button>
    	 			</p>
    	 	    </li>
    	 	    <!--http://p4.music.126.net/5MSBV-uxRl65dgikDWibLQ==/7710875046296462.jpg--> 
    	 		<li>
    	 			<select v-model="newWordAnimation">
    	 				<option>rotate</option>
    	 				<option>flipX</option>
    	 				<option>zoomIn</option>
    	 				<option>bounce</option>
    	 			</select>  
    	   运动秒数:<select v-model="wordDuration">
    	 		        <option>1s</option>
    	 		        <option>1.5s</option>
    	 		        <option>2s</option>
    	 		    </select>  
    	   延迟秒数:<select v-model="wordDelay">
    	                 <option>2s</option> 
    	                 <option>3s</option>
    	                 <option>4s</option>
    	                 <option>5s</option> 
    	 		    </select> 
    	 			<button class="button light" @click="addWord(screen)">Add</button>
    	 		</li> 

    	 		<li>
    	 		    <p v-for="content in screen" v-if="content.type == 1">  
    	 		        <input v-model="content.content"></input> 
    	 		        <span class="button delete" @click="removeWord(screen,content)">X</span>
    	 		    </p> 
    	 		</li>

    	 		<li>
    	 			<p>Upload a image:<input type="file"></input></p>
    	 			<p>Or enter a img link:<input type="text" v-model="newImg"></input></p>
    	 			<select v-model="newPicAnimation">
    	 				<option>rotate</option>
    	 				<option>flipX</option>
    	 				<option>zoomIn</option>
    	 				<option>bounce</option>
    	 			</select>  
    	   运动秒数:<select v-model="picDuration">
    	 		        <option>1s</option>
    	 		        <option>1.5s</option>
    	 		        <option>2s</option>
    	 		    </select>  
    	   延迟秒数:<select v-model="picDelay">
    	                 <option>2s</option> 
    	                 <option>3s</option>
    	                 <option>4s</option>
    	                 <option>5s</option> 
    	 		    </select>
    	 			   <button class="button " @click="addImg(screen)">Upload Img</button> 
    	 		</li> 
    	 		</br>

    	 		<button class="button go" @click="removeScreen(screen)">Remove</button>
    	 	    </ul>  
        </div> 
        <!--every screen's detail choice template--> 
    </div> 

    <!--screen template-->
    <script type="text/x-template" id="screen-template">
    	<div v-for="screen in screens" class="screen" id="screen"><!--style="background-image: url({{ screen.bgImg }})"-->  
    		 <word :screen="screen" ></word> 
    		 <picture :screen="screen"></picture>
    	</div>
    </script>

    <!--word template-->
    <script type="text/x-template" id="word-template">
    	<span 
    	v-for="content in screen"  
    	v-if="content.type == 1"
    	class="{{ content.Animation.Name }}" 
    	@mousedown="dragLocation(this)" 
    	style="animation-duration: {{ content.Animation.Speed }}; animation-delay: {{ content.Animation.Delay }}" > 
        	{{ content.content }}
        </span> 
    </script>

    <!--image template-->
    <script type="text/x-tempalte" id="image-template">
    	<img 
    	v-for="content in screen"
    	v-if="content.type == 2"
    	class="{{ content.Animation.Name }}"  
    	style="animation-duration: {{ content.Animation.Speed }}; animation-delay: {{ content.Animation.Delay }}"
    	src="{{ content.src }}">
    </script>

    <!--root start from here-->
    <div class="phone"> 
    	<div class="showPage">
    		<screen :screens="screens" ></screen>
    	</div>
    </div>

<pre>{{screens | json}}</pre>

</div>
</body>
<script type="text/javascript" src="scripts/script.js"></script> 
<script type="text/javascript" src="scripts/component.js"></script>
<script type="text/javascript" src="scripts/vue-script.js"></script> 
 
</html>