/*------------------CSS Reset---------------------------*/
html, body, div, 
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;  
}
 
blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*--------------------------little things style-----------------------------------*/
.button{ 
    border: 0; 
    font-size: 17px;
    color: #fff;
    background: #00A2E8;
    cursor: pointer; 
    display: inline-block;
}

 

.title{
    font-size: 25px;
    margin-top: 10px; 
}

.subtitle{
    font-size: 17px;
    margin-top: 10px;
}

img{
    width: 150px;
    height: 150px;
}


/*---------------------Formal style start-------------------------*/
#box{
    width: 50%; 
    margin:0 auto; 
    margin-top: 20px;
    overflow: hidden;
    font-family: '微软雅黑';
    font-weight: lighter; 
    
}

#selectScreen{
    text-align: center; 
    float: left;
}
 
#selectScreen select{ 
    width: 80px;
    height: 30px;
}

.go{
    width: 100px; 
    height: 40px;
    margin-left: 10px; 
    margin-top: 10px;
}

.phone{
    background: url(../imgs/phone.png);
    width: 300px;
    height: 611px;
    float: right;
}

.showPage{
    position: relative;
    background: #fff;
    width: 270px;
    height: 480px;
    margin-top: 65px;
    margin-left: 15px;
}

.screen{ 
    background: #ccc;
    width: 100%;
    height: 100%;
    border:1px solid #000;
    position: relative;
}

.edit{
    border:1px dashed #aaa;
    margin-top: 10px;
    text-align: left;  
    padding: 5px 10px 5px 10px;
}

.edit li{
    line-height: 35px;
}

.light{
    width: 80px;
    height: 30px;
}

.delete{
    padding: 0 1% 0 1%;
    margin-left: 10px;
    line-height: 24px;
}


