/*------------------CSS Reset---------------------------*/
html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;  
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
 
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*--------------------------little things style-----------------------------------*/
.button{
    height: 40px;
    border: 0; 
    font-size: 17px;
    color: #fff;
    background: #00A2E8;
}

.title{
    font-size: 25px;
    margin-top: 10px;
}

.subtitle{
    font-size: 17px;
    margin-top: 10px;
}
 
/*---------------------Formal style start-------------------------*/
#content{
    width: 80%; 
    margin:0 auto; 
    margin-top: 10%;
    overflow: hidden;
    font-family: '黑体';
    font-weight: lighter; 
}

#first{
    text-align: center; 
}
 
#first select{
    margin-top: 20px;
    width: 130px;
    height: 30px;
}

.next{
    width: 100px;
    margin-top: 100px;
}
 